<div class="container marketing mt-4">
  <div class="row">
  <div class="jumbotron">
    <h1 class="display-4">Bisonte Ingenieros Contratistas S. R. L.</h1>
    <hr class="my-4">
    <p>Bisonte Ingenieros Contratistas S.R.L., empresa Peruana de consultoria integral de obras, gestionada con estandares de calidad internacional, somos un equipo de profecionales especializados con experiencia y desempeño de alto nivel operativo.</p>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7" style="color: white">
      <h2 class="featurette-heading">Estudio de Ingenieria.</h2>
      <p class="lead">Desarrollamos paquetes de trabajo involucrados en procesos previos a la ejecución de la obra. Basados en nuestra amplia experiencia podemos minimizar el impacto en costo y plazo durante la construcción.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>  
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2" style="color: white">
      <h2 class="featurette-heading">Supervisión de Obra.</h2>
      <p class="lead">Aseguramos el cumplimiento de los procesos de calidad y seguridad establecidos para cada proyecto. Conocemos y exigimos las buenas prácticas de construcción y estamos comprometidos en cada paso de tu proyecto.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7" style="color: white">
      <h2 class="featurette-heading">Gestión Financiera.</h2>
      <p class="lead">Dirigimos proyectos privados y públicos asegurando el cumplimiento óptimo del alcance, costo y tiempo establecidos. Prevemos desviaciones y gestionamos los riesgos de la mano con cada cliente.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2" style="color: white">
      <h2 class="featurette-heading">Gerencia de Proyecto.</h2>
      <p class="lead">Trabajamos de la mano con el cliente desde la conceptualización del proyecto.  Protegemos sus intereses previendo desviaciones y gestionando riesgos. Supervisamos cada fase eficientemente.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>
  </div>
</div>