body {
  background: #4ecdc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ecdc4, #65c7f7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ecdc4, #65c7f7);

  position: relative;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
}
h1, h2 {
  font-family: 'Josefin Slab', serif;
}

.logo {
    width: 30%;
}

footer{
  position: relative;
  left: 0%;
  bottom: 0%;
  width: 100%;
}