<footer class="footer">
  <hr class="featurette-footer">
  <div class="container">
    <p class="float-right" style="color: white" >&copy; Bisonte Ingenieros Contratistas S.R.L. 2019 &middot; 
      <a href="#"> Brolyn Desarrollo e Ingenieria</a>
    </p>
  </div>
</footer>
