<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky mt-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/library">
          <i class="fas fa-layer-group"></i>
          Repositorio
        </a>
      </li>

      <hr class="my-2">
      {{#if folders}}
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-folder-open"></i>
            Carpetas
          </a>
        </li>
      {{/if}}
      {{#each folders}}
        <li class="nav-item">
          <a class="nav-link" href="/library/folder/{{id}}">
            {{nombre}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>