<div class="container marketing mt-4">
  <div class="row">
      {{> sid-selection}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar Obra</h3>
                </div>
                <div class="card-body">
                    <form action="/selection/work-new" method="POST">
                        <div class="form-group">
                            <input type="text" name="entidad" class="form-control" placeholder="Nombre de la Entidad" autofocus>
                        </div>
                        <div class="form-group">
                          <select name="objeto" class="form-control">
                            <option value="A">Seleccione Objeto de Contratación</option>
                            <option value="Bien">Bien</option>
                            <option value="Consultoria">Consultoria de Obra</option>
                            <option value="Obra">Obra</option>
                            <option value="Servicios">Servicios</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <select name="tipo" class="form-control">
                            <option value="A">Seleccione Rubro</option>
                            <option value="Edificación">Edificación</option>
                            <option value="Saneamiento">Saneamiento</option>
                            <option value="Viales">Viales</option>
                            <option value="Otros">Otros</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" class="form-control" placeholder="Descripción de Objeto"></textarea>
                        </div>
                        <div class="form-group">
                          <select name="seleccion" class="form-control">
                            <option value="A">Seleccione Tipo de Selección</option>
                            <option value="Adjudicación Abreviada">Adjudicación Abreviada</option>
                            <option value="Adjudicación de Menor Cuantía">Adjudicación de Menor Cuantía</option>
                            <option value="Adjudicación de Menor Cuantía - Ley Nº 30114">Adjudicación de Menor Cuantía - Ley Nº 30114</option>
                            <option value="Adjudicación de Menor Cuantía - D.U. Nº 004-2014">Adjudicación de Menor Cuantía - D.U. Nº 004-2014</option>
                            <option value="Adjudicación de Menor Cuantía - D.U. Nº 130-2001">Adjudicación de Menor Cuantía - D.U. Nº 130-2001</option>
                            <option value="Adjudicación de Menor Cuantía - D.L. Nº 1023">Adjudicación de Menor Cuantía - D.L. Nº 1023</option>
                            <option value="Adjudicación de Menor Cuantía - D.L. Nº 1017 (Exp. Ind.)">Adjudicación de Menor Cuantía - D.L. Nº 1017 (Exp. Ind.)</option>
                            <option value="Adjudicación de Menor Cuantía - Ley Nº 26859">Adjudicación de Menor Cuantía - Ley Nº 26859</option>
                            <option value="Adjudicación de Menor Cuantía - Ley Nº 27638">Adjudicación de Menor Cuantía - Ley Nº 27638</option>
                            <option value="Adjudicación de Menor Cuantía - Ley Nº 30191">Adjudicación de Menor Cuantía - Ley Nº 30191</option>
                            <option value="Adjudicación de Menor Cuantía - Ley Nº 30306">Adjudicación de Menor Cuantía - Ley Nº 30306</option>
                            <option value="Adjudicación de Menor Cuantía - (Oct. Dis.) D.L. Nº 1017">Adjudicación de Menor Cuantía - (Oct. Dis.) D.L. Nº 1017</option>
                            <option value="Adjudicación Directa Pública">Adjudicación Directa Pública</option>
                            <option value="Adjudicación Directa Selectiva">Adjudicación Directa Selectiva</option>
                            <option value="Adjudicación para Contrato Marco">Adjudicación para Contrato Marco</option>
                            <option value="Adjudicación Selectiva">Adjudicación Selectiva</option>
                            <option value="Adjudicacion Simplificada">Adjudicación Simplificada</option>
                            <option value="Adjudicación Simplificada - (Déc Dis) Ley 30225">Adjudicación Simplificada - (Déc Dis) Ley 30225</option>
                            <option value="Adjudicación Simplificada - Ley Nº 26859">Adjudicación Simplificada - Ley Nº 26859</option>
                            <option value="Adjudicación Simplificada - Ley Nº 30556">Adjudicación Simplificada - Ley Nº 30556</option>
                            <option value="Adjudicación Simplificada - (Sép Dis) Ley 30225">Adjudicación Simplificada - (Sép Dis) Ley 30225</option>
                            <option value="Adjudicación Simplificada - D.L. N° 1325">Adjudicación Simplificada - D.L. N° 1325</option>
                            <option value="Adjudicación Simplificada - D.L. N° 1355">Adjudicación Simplificada - D.L. N° 1355</option>
                            <option value="Adjudicación Simplificada - Homologación">Adjudicación Simplificada - Homologación</option>
                            <option value="Comparación de Precios">Comparación de Precios</option>
                            <option value="Comparación de Precios - D.L. N° 1314">Comparación de Precios - D.L. N° 1314</option>
                            <option value="Compras por catálogo (Convenio Marco)">Compras por catálogo (Convenio Marco)</option>
                            <option value="Concurso de Proyectos Arquitectónicos">Concurso de Proyectos Arquitectónicos</option>
                            <option value="Concurso Público">Concurso Público</option>
                            <option value="Contratación Directa">Contratación Directa</option>
                            <option value="Contratación Directa (Petroperú)">Contratación Directa (Petroperú)</option>
                            <option value="Contratación Internacional">Contratación Internacional</option>
                            <option value="Contratación por Competencia Mayor">Contratación por Competencia Mayor</option>
                            <option value="Contratación por Competencia Menor">Contratación por Competencia Menor</option>
                            <option value="Convenio">Convenio</option>
                            <option value="Exoneración">Exoneración</option>
                            <option value="Extensión de Catálogo Electrónico">Extensión de Catálogo Electrónico</option>
                            <option value="Implementación de Catálogo Electrónico">Implementación de Catálogo Electrónico</option>
                            <option value="Incorporación de Proveedores">Incorporación de Proveedores</option>
                            <option value="Licitación Pública">Licitación Pública</option>
                            <option value="Procedimiento Especial de Contratación">Procedimiento Especial de Contratación</option>
                            <option value="Procedimiento Especial de Selección">Procedimiento Especial de Selección</option>
                            <option value="Proceso por Competencia">Proceso por Competencia</option>
                            <option value="Régimen Especial">Régimen Especial</option>
                            <option value="Selección de Consultores Individuales">Selección de Consultores Individuales</option>
                            <option value="Subasta Inversa Electrónica">Subasta Inversa Electrónica</option>
                            <option value="Subasta Inversa Electrónica Corporativa">Subasta Inversa Electrónica Corporativa</option>

                          </select>
                        </div>                        
                        <div class="form-group">
                            <input type="text" name="numero" class="form-control" placeholder="Nomenclatura">
                        </div>
                        <div class="form-group">
                            <input type="text" name="snip" class="form-control" placeholder="Codigo SNIP">
                        </div>
                        <div class="form-group">
                            <input type="text" name="valor" class="form-control" placeholder="Valor Referencial">
                        </div>

                        <div class="form-group">
                            <input type="date" name="fpublicacion" class="form-control" aria-describedby="desFPublicacion">
                            <small class="form-text text-muted" id="desFPublicacion">Fecha de publicación</small>
                        </div>  
                        <div class="form-group">
                            <input type="date" name="fformulacion" class="form-control" aria-describedby="desFFormulacion">
                            <small class="form-text text-muted" id="desFFormulacion">Fecha de formulación de consultas y observaciones</small>
                        </div>   
                        <div class="form-group">
                            <input type="date" name="fabsolucion" class="form-control" aria-describedby="desFAbsolucion">
                            <small class="form-text text-muted" id="desFAbsolucion">Fecha de absolución de consultas y oservaciones</small>
                        </div>   
                        <div class="form-group">
                            <input type="date" name="fintegracion" class="form-control" aria-describedby="desFIntegracion">
                            <small class="form-text text-muted" id="desFIntegracion">Fecha de integración de bases</small>                        
                        </div>
                        <div class="form-group">
                            <input type="date" name="fpresentacion" class="form-control" aria-describedby="desFPresentacion">
                            <small class="form-text text-muted" id="desFPresentacion">Fecha de presentacion de ofertas</small>
                        </div>
                        <div class="form-group">
                            <input type="date" name="fotorgamiento" class="form-control" aria-describedby="desFOtorgamiento">
                            <small class="form-text text-muted" id="desFOtorgamiento">Fecha de otorgamiento de la buena Pro</small>
                        </div>                  
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main> 
  </div>
</div>
