{{!-- contenido para modulos --}}
<div class="container marketing mt-4">
  <div class="row">
    {{> }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h1></h1> 
    </main> 
  </div>
</div>
{{!-- sidebar para modulos  --}}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky mt-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-book"></i>
          Modulo 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-flag"></i>
          Modulo 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-flag"></i>
          Modulo 3
        </a>
      </li>
    </ul>
  </div>
</nav>